<mat-toolbar class="navbar" color="primary">
    
  <div class="nav-link">
   <ul>
     <li>
       <a href="#" aria-label="Example icon-a with menu icon">
         <mat-icon class="home">home</mat-icon>
       </a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;">Request</a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;">Order</a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;;">Invoices</a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;">Inventory</a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;">Sourcing</a>
     </li>
     <li>
       <a href="#" mat-a style="font-family: 'Poppins', sans-serif;">Supplier</a>
     </li>
   </ul>


   <app-searchbar></app-searchbar>
  
  
   
   
  </div>
  
 
  
</mat-toolbar>