<mat-card class="searchbar">
<!-- 
<div class="searchbar-content">


     <div class="input-group">
      <label class="input-group-text" for=""><img style="width: 15px;" src="assets/images/Vector2.png" alt="Vector2"></label>
      <select class="form-select form-select-sm" >
        <option selected>Laptop</option>
        <option value="1">All</option>
        <option value="2">Active</option>
        <option value="3">Inactive</option>
      </select>
    </div>

    <div class="input-group input-group-sm">
      <input  type="text" class="form-control" placeholder="Search...">
      <button class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
        <mat-icon>close</mat-icon>
      </button>
  </div>
   



    
        <button type="button" class="btn btn-primary btn-sm">
          <mat-icon>search</mat-icon> 
          Search
        
        </button>
    
    
    </div> -->
   
    <div class="grid-container">

      <div >
        <div class="input-group">
          <label class="input-group-text" for=""><img style="width: 15px;" src="assets/images/Vector2.png" alt="Vector2"></label>
          <select class="form-select form-select-sm" >
            <option selected>Laptop</option>
            <option value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
     </div>





      <div>
        <div class="input-group input-group-sm">
          <input  type="text" class="form-control" placeholder="Search...">
          <button class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
      </div>
        
      </div>
     
      
     <div>
      <button type="button" class="btn btn-primary btn-sm">
        <mat-icon>search</mat-icon> 
        Search
      
      </button>
     </div>  
      
    </div>

</mat-card>
